.form{
    text-align: center;
    margin-top: 12rem;
}

.form button a{
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 1rem;    

}

button{
    border-radius: 1rem;
}